In [ ]:
import scanpy as sc
from pathlib import Path
import tarfile
import pySingleCellNet as cn
import anndata as ad
import sys
sys.path.append('../src')

#from preprocessing import annotation_preprocess
import pandas as pd
import scanpy as sc
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import cna_tool
from cna_tool import CNAInferer  # assuming this contains your working class
from cna_tool.utils import select_control_mask, map_gene_coordinates
from cna_tool.infer import infer_cnas_from_scrna
from cna_tool.tl import run_cna_evaluation
from cna_tool.cna_inference import test_pipeline_on_slice
from mygene import MyGeneInfo
from cna_tool.preprocessing import simple_preprocess

c:\Users\clark\anaconda3\envs\OneSC_run\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
adata_test = ad.read_h5ad('../data/test_adata.h5ad')
adata7 = ad.read_h5ad('../data/num7_adata.h5ad')
adata4 = ad.read_h5ad('../data/num4_adata.h5ad')
adata3 = ad.read_h5ad('../data/num3_adata.h5ad')
adata6 = ad.read_h5ad('../data/num6_adata.h5ad')

In [8]:
adata7 = cna_tool.utils.map_gene_coordinates(adata7, adata_test)

Number of common genes: 19501

In [ ]:
adata7_filtered = adata7[adata7.obs['cell_type'].isin(['B cell', 'T cell'])].copy()

                    gene_ids    feature_types  chromosome     start       end
MIR1302-2HG  ENSG00000243485  Gene Expression         NaN       NaN       NaN
FAM138A      ENSG00000237613  Gene Expression         NaN       NaN       NaN
OR4F5        ENSG00000186092  Gene Expression         NaN       NaN       NaN
AL627309.1   ENSG00000238009  Gene Expression         NaN       NaN       NaN
AL627309.3   ENSG00000239945  Gene Expression           1   89551.0   91105.0
...                      ...              ...         ...       ...       ...
AC141272.1   ENSG00000277836  Gene Expression         NaN       NaN       NaN
AC023491.2   ENSG00000278633  Gene Expression         NaN       NaN       NaN
AC007325.1   ENSG00000276017  Gene Expression         NaN       NaN       NaN
AC007325.4   ENSG00000278817  Gene Expression  KI270734.1  131494.0  137392.0
AC007325.2   ENSG00000277196  Gene Expression         NaN       NaN       NaN

[36601 rows x 5 columns]